
/* 폰트적용 */
@font-face {
  font-family: 'LeferiBaseType-RegularA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html > body {
font-family: "LeferiBaseType-RegularA";
}

/*커스텀 라이브러리*/
*{
padding:0;
margin:0;
}

.con{
width:1920px;
height:auto;
margin:0 auto;
}

@media ( min-width: 1900px ) {
body { overflow-x:hidden; }
}

/*뜨는애니메이션 라이브러리*/

.main-1,.main-2{
animation-name: infinite-01 ;
animation-duration: 5s;
animation-iteration-count: infinite ;
animation-timing-function: linear ; 
}


@keyframes infinite-01{
0%{
  transform: translatey(0) ;
}

50%{
  transform: translatey(-20%);    
}

100%{
  transform: translatey(0);    
}

}

.experience-1{
background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/portfolio_img/exp/Group 293.png');
width:1920px;
height:1080px;
}

.about-menu-logo-1{
left:100px;
top:30px;
}

.about-menu-branding{
left:532px;
top:41px;
}

.about-menu-about{
left:727px;
top:41px;
}
.about-menu-portfolio{
left:891px;
top:41px;
}

.about-menu-process{

 left:1096px;
top:41px;
}

.experience-menu-experience{
 left:1283px;
top:41px;
}

.experience-1-img-1{
top:390px;
left:329px;
}

.experience-1-img-2{
top:551px;
left:329px;
}
.experience-1-img-3{
top:705px;
left:329px;
}

.experience-1-img-4{
top:339px;
left:1431px;
}

.experience-2{
 width:1920px;
height:2153px;
}

.experience-2-img-1{
top:100px;
left:150px;
}

.experience-2-img-2{
  top:187px;
left:150px;
}

.experience-2-img-3{
 top:415px;
left:968px;
}

.experience-2-img-4{
 top:320px;
left:150px;
}

.experience-2-img-5{
top:1290px;
left:968px;
}
.experience-2-img-6{
top:1683px;
left:968px;
}
.experience-2-img-7{
 top:100px;
left:968px;
}

.experience-3{
height:2352px;
width:1920px;
background-color:#EFEFEF;

}

.experience-3-img-1{
top:132px;
left:303px;
}

.experience-3-img-2{
top:315px;
left:1073px;
}
.experience-3-img-3{
top:1491px;
left:304px;
}

.experience-3-img-4{
top:1491px;
left:1116px;
}

.experience-4{
width:1920px;
height:1868px;
background-color:#E2E2E2;

}
.experience-4-img-text{
  top:89px;
left:202px;
}
.experience-4-img-1{
top:224px;
left:202px;
}

.experience-4-img-2{
top:776px;
left:339px;
}
.experience-4-img-3{
top:1131px;
left:202px;
}
.experience-4-img-4{
top:1486px;
left:338.54px;
}

.experience-4-img-5{
top:224px;
left:1012px;
}
.experience-4-img-6{
top:771px;
left:1012px;
}
.experience-4-img-7{
top:1053px;
left:1012px;
}
.experience-4-img-8{
top:1560px;
left:1018px;
}

.experience-5{
width:1920px;
height:2859px;

}

.experience-5-img-text{
top:100px;
left:456px;
}

.experience-5-img-1{
top:284px;
left:436px;
}
.experience-5-img-2{
top:780px;
left:436px;
}
.experience-5-img-3{
top:1429px;
left:436px;
}
.experience-5-img-4{
top:2078px;
left:436px;
}

.experience-5-img-5{
top:284px;
left:1012px;
}
.experience-5-img-6{
top:932px;
left:1012px;
}
.experience-5-img-7{
top:1734px;
left:1012px;
}
.experience-5-img-8{
top:2378px;
left:1012px;
}

.experience-6{
background-color:#F0F0F0;
width:1920px;
height:247px;

}

.experience-6-img-text{
 top:60px;
left:201px;
}

.see-more-pro{
background-color:#F62F68;
width:1920px;
height:300px;
}
.see-more-pro-text-1{
top:86px;
left:791px;
}